html {
    height: 100%;
    width: 100%;
}

#planet {
    margin: 0;
    padding: 0;
}

.textonly {
    /* only display in text mode browsers */
    display: none;
}

.box-header {
    background-image: url(../images/gradient-light-short-fixed.png);
    background-color: #f0f0f0 !important;
    padding: 0 0 0 0 !important;
    margin: 0 !important;
}

.box-header a {
    margin-right: 0px !important;
    text-shadow: none;
}

.box-header .post-header {
    margin: 0;
    padding: 0.2em 1em 0.1em 1em;
}

.box-header h3, .box-header h4 {
    padding: 0 !important;
    margin: 0 !important;
}

.box-header .date {
    padding-left: 16px !important;
    background: url(../images/time12.png) no-repeat 0 50% transparent;
    min-height: 12px;
    text-align: left;
    color: #888888;
    font-size: 0.8em;
    font-weight: normal;
    margin-right: 1em;
}

.box-header .member,
.box-header .connect {
    padding: 0px 2px 0px 2px;
    color: #ffffff;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: -1px;
    margin-left: 0.5ex;
}
.box-header .member {
    background: #669900;
}
.box-header .connect {
    background: #444444;
}

#content > div {
    width: auto;
}

.author {
    float: right;
    text-align: left;
    padding: 0 0 0 40px;
    margin: 0px -140px 0 0;
    width: 100px;
    background: url("../images/right-bubble.png") no-repeat 0px 80% transparent;
}

.author img {
    padding: 0 !important;
    margin: 0 !important;
}

.entrygroup {
    padding-top: 0 !important;
    margin-bottom: 1em;
}

#main, #footer, #header-content {
    /*
    margin-left: 110px;
    margin-right: 20%;
    */
    margin-right: 160px;
    margin-left: 10%;
}

#intro, #footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#intro p, #intro h3 {
    margin-left: 0;
    margin-right: 0;
}

#content {
}

#intro {
    color: #666666;
    font-size: 0.8em;
    margin-bottom: 2em;
}

#content > p {
    /*clear: both;*/
    text-align: center !important;
    margin: 0em 10% 2em 10% !important;
    padding-top: 2em;
}

.blogcontent {
    margin-left: 1em;
    margin-right: 1em;
}
.blogcontent > p {
    margin-left: 0;
    margin-right: 0;
}
.blogcontent pre {
    white-space: pre-wrap;
    border: 1px solid #666666;
    border-left: 1em solid #666666;
    padding: 0.2em;
    margin-left: 1em;
    background: #222222;
    color: #f0f0f0;
    line-height: 120%;
}
.blogcontent a {
    color: #669900;
}
.blogcontent a:hover {
    color: #3399cc;
    text-decoration: underline;
}
.blogcontent a:visited {
    color: #999999;
}

.day > h2 {
    margin: 2em 0 0 -52px;
    padding: 0.1em 0 0.1em 52px;
    background: url(../images/day-01.png) no-repeat 0 0 transparent;
    min-height: 48px;
}

.day-01 > h2 { background-image: url(../images/day-01.png); }
.day-02 > h2 { background-image: url(../images/day-02.png); }
.day-03 > h2 { background-image: url(../images/day-03.png); }
.day-04 > h2 { background-image: url(../images/day-04.png); }
.day-05 > h2 { background-image: url(../images/day-05.png); }
.day-06 > h2 { background-image: url(../images/day-06.png); }
.day-07 > h2 { background-image: url(../images/day-07.png); }
.day-08 > h2 { background-image: url(../images/day-08.png); }
.day-09 > h2 { background-image: url(../images/day-09.png); }
.day-10 > h2 { background-image: url(../images/day-10.png); }
.day-11 > h2 { background-image: url(../images/day-11.png); }
.day-12 > h2 { background-image: url(../images/day-12.png); }
.day-13 > h2 { background-image: url(../images/day-13.png); }
.day-14 > h2 { background-image: url(../images/day-14.png); }
.day-15 > h2 { background-image: url(../images/day-15.png); }
.day-16 > h2 { background-image: url(../images/day-16.png); }
.day-17 > h2 { background-image: url(../images/day-17.png); }
.day-18 > h2 { background-image: url(../images/day-18.png); }
.day-19 > h2 { background-image: url(../images/day-19.png); }
.day-20 > h2 { background-image: url(../images/day-20.png); }
.day-21 > h2 { background-image: url(../images/day-21.png); }
.day-22 > h2 { background-image: url(../images/day-22.png); }
.day-23 > h2 { background-image: url(../images/day-23.png); }
.day-24 > h2 { background-image: url(../images/day-24.png); }
.day-25 > h2 { background-image: url(../images/day-25.png); }
.day-26 > h2 { background-image: url(../images/day-26.png); }
.day-27 > h2 { background-image: url(../images/day-27.png); }
.day-28 > h2 { background-image: url(../images/day-28.png); }
.day-29 > h2 { background-image: url(../images/day-29.png); }
.day-30 > h2 { background-image: url(../images/day-30.png); }
.day-31 > h2 { background-image: url(../images/day-31.png); }

.day .day-day { font-size: 120%; font-weight: bold; }
.day .day-date { font-size: 90%; }

#help {
    position: fixed;
    left: 50%;
    margin: -10% 0 0 -25%;
    top: 50%;
    width: 50%;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: #000000;
    color: #ffffff;
    opacity: 0.8;
    padding: 30px;
    z-index: 10000;
}

#help p {
    clear: both;
    padding-top: 0.5em;
}

#help dl {
    margin: 0;
    padding: 0;
}

#help dt {
    clear: left;
    padding-right: 5%;
    text-align: right;
    width: 10%;
    margin-right: 1em;
}

#help dt, .key {
    font-variant: small-caps;
}

#help dd, #help dt {
    display: block;
    float: left;
}

#help h4 {
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #888888;
    margin-bottom: 0.5em;
}

.main-collapsed {
    position: fixed !important;
    left: 0 !important;
    top: 30% !important;
    width: 100% !important;
    height: 70% !important;
    overflow: auto;
}

.main-collapsed #intro {
    display: none;
}

#overview {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 29%;
    background: #000000;
    color: #ffffff;
    /*opacity: 0.8;*/
    z-index: 9999;
    font-size: 0.8em;
    overflow: auto;
}
#overview ul {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}
#overview li {
    margin: 0 0 0.1em 0;
    color: #669900;
}
#overview .overview-day {
    list-style-type: none;
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
    padding-top: 2px;
}
#overview a {
    color: #cccccc;
    text-decoration: none;
}
#overview a:hover {
    color: #3399cc;
    text-decoration: underline;
}
#overview a:visited {
    color: #888888;
}
#overview a:focus {
    background: #3399cc;
    color: #ffffff;
}

#overview h4 {
    display: none;
}

.menu-header {
    font-size: 100% !important;
    margin: 0.1em 1em 0.1em 0;
    float: left;
    clear: both;
    width: 15%;
    text-align: right;
}
ul.menu {
    margin: 0.1em 1em 0.1em 0;
    padding: 0;
    list-style: none;
    float: left;
}
.menu li {
    display: inline;
    padding: 0;
    margin: 0;
}
.menu li:before {
    content: "\2022\00A0";
}
.menu li:first-child:before {
    content: "";
}
.menu li a {
    padding: 0;
    margin: 0;
}

.lang-en,
.lang-de,
.lang-fr,
.lang-es,
.lang-pt,
.lang-pl,
.lang-cs,
.lang-sk,
.lang-ru,
.lang-ja,
.lang-id,
.lang-all,
.lang {
    padding-left: 20px !important;
    background: url(../images/lang/en.png) no-repeat 0% 50%;
}

.post-header h3.lang a.blogurl {
    padding-left: 20px !important;
}

.lang-en { background-image: url(../images/lang/en.png); }
.lang-de { background-image: url(../images/lang/de.png); }
.lang-fr { background-image: url(../images/lang/fr.png); }
.lang-es { background-image: url(../images/lang/es.png); }
.lang-pt { background-image: url(../images/lang/pt.png); }
.lang-pl { background-image: url(../images/lang/pl.png); }
.lang-cs { background-image: url(../images/lang/cz.png); }
.lang-sk { background-image: url(../images/lang/sk.png); }
.lang-ru { background-image: url(../images/lang/ru.png); }
.lang-ja { background-image: url(../images/lang/jp.png); }
.lang-id { background-image: url(../images/lang/id.png); }
.lang-tw { background-image: url(../images/lang/tw.png); }
.lang-all { background-image: url(../images/lang/_.png); }

#current-entries:before { content: "\21E6\00A0"; }
#old-entries:after      { content: "\00A0\21E8"; }

div.readmore {
    margin-top: 0.5em;
}

span.readmore, a.readmore {
    color: #e35302;
    font-weight: bold;
}

a.readmore {
    padding: 2px 0.5em;
    background: #fafafa;
    border: 1px solid #fcb11c;
}

a.readmore:hover {
    color: #3399cc;
    background: #f3f9fc;
    border-color: #3399cc;
}

a.readmore:before {
    content: "\00BB\00A0";
}

